# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Rider / Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.DotSettings.user
.idea/
*.prj.user
*.DS_Store

# NuGet Packages
*.nupkg
packages/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
*.pubxml
*.pubxml.user

# Environment files
*.env
appsettings.*.json